@font-face {
	font-family: "Flaticon";
	src: url("../font/flaticon/flaticon.eot");
	src: url("../font/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("../font/flaticon/flaticon.woff") format("woff"),
	url("../font/flaticon/flaticon.ttf") format("truetype"),
	url("../font/flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: inherit;
font-style: normal;
margin-left: 20px;
}.flaticon-3d28:before {
	content: "\e000";
}
.flaticon-3d33:before {
	content: "\e001";
}
.flaticon-3d39:before {
	content: "\e002";
}
.flaticon-3d43:before {
	content: "\e003";
}
.flaticon-computer248:before {
	content: "\e004";
}
.flaticon-computer38:before {
	content: "\e005";
}
.flaticon-computers23:before {
	content: "\e006";
}
.flaticon-office26:before {
	content: "\e007";
}
.flaticon-programminglanguage6:before {
	content: "\e008";
}
.flaticon-robocog:before {
	content: "\e009";
}
.flaticon-robotic2:before {
	content: "\e00a";
}
.flaticon-robots19:before {
	content: "\e00b";
}
.flaticon-robots2:before {
	content: "\e00c";
}
.flaticon-robots34:before {
	content: "\e00d";
}
.flaticon-tool70:before {
	content: "\e00e";
}
