<!-- Pre Loader -->
<div id="loader-wrapper">
  <div id="loader"></div>
  
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
  
</div>

<!--Navigation-->
<div class="navbar-fixed">
  <nav id="nav_f" class="red darken-4" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="{{ site.url }}" class="brand-logo">aalmiramolla</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="{{ "/#intro" | prepend: site.baseurl }}">About me</a></li>
          <li><a href="{{ "/#work" | prepend: site.baseurl }}">Work</a></li>
          <li><a target="_blank" href="{{ "/cv_alejandroalmira.pdf" | prepend: site.baseurl }}">CV</a></li>
          <!-- <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li> -->
          <li><a href="{{ "/#contact" | prepend: site.baseurl }}">Social</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</div>
