<h3>Proyectos</h3>


<a href="https://github.com/al3x2450"><img src="/img/github_black.png" alt="twitter" height="100" width="100"/></a>


<p><br />Proyectos en los que estoy trabajando:</p>

<dl>
  <dt>
	<a href="https://github.com/al3x2450/Home-Backup">Home-Backup</a>
  </dt>
  <dd>
	Repositorio para guardar los ficheros de configuración para en caso de formateo no tener que empezar de 0.
  </dd>
  
  <dt>
	<a href="https://github.com/al3x2450/EInformacionSearch">EInformacionSearch</a>
  </dt>
  <dd>
	Práctica de la <a href="http://www.ua.es">Universidad de Alicante</a> en la que hay que implementar un buscador en C++ desde 0.
  </dd>
</dl>
