---
layout: default
---


  <div class="container no-pad-bot">
    <div class="row">
      <div class="col s12 m12 l9">
        <div class="section">
          <ul class="collection with-header">
            <li class="collection-header red darken-4"><h4>Posts</h4></li>
			<div class="post-list-body">
              <div class="all-posts" post-cate="All">
				{% for post in site.posts %}
                <a href="{{ post.url | prepend: site.baseurl }}" class="collection-item post-list-item">{{ post.title }}<span class="badge">{{ post.date | date: "%b %-d, %Y" }}</span></a>
				{% endfor %}
              </div>
              <!-- <div class="posts-in-categories"> -->
              {% for category in site.categories %}
              <div post-cate="{{category | first}}">
                {% for posts in category  %}
                  {% for post in posts %}
                    {% if post.url %}
                      <a href="{{ post.url | prepend: site.baseurl }}" class="collection-item post-list-item">{{ post.title }}<span class="badge">{{ post.date | date: "%b %-d, %Y" }}</span></a>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
              {% endfor %}
              <!-- </div> -->
			</div>
          </ul>
        </div>
      </div>
      <div class="col s12 m12 l3">
        <div class="section">
          <ul class="collection with-header">
            <li class="collection-header red accent-2"><h5>Categories</h5></li>
            <a href="javascript:;" class="collection-item categories-list-item" cate="All"> All <span class="badge"> {{site.posts | size}}</span></a>
            {% for category in site.categories %}
              <a href="javascript:;" class="collection-item categories-list-item" cate="{{ category | first }}"> {{ category | first }} <span class="badge">{{ category | last | size }}</span></a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

