<!DOCTYPE html>
<html>
  
  {% include head.html %}
  <body id="top" class="scrollspy">
	<header>
      {% include header.html %}
	</header>
	<main>
      {{ content }}
	</main>
	
    {% include footer.html %}

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ "/js/materialize.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/init.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/category.js" | prepend: site.baseurl }}"></script> <!-- Categorias -->
  </body>
</html>
